################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MovieListing/bin/Debug/netcoreapp2.1
/MovieListing/ClientApp/node_modules
/MovieListing/obj
/MovieProcessor/obj
/MovieProcessorTests/obj
/MovieProcessorTests/bin/Debug
/MovieProcessor/bin/Debug/netstandard2.0
/.vs
/packages
